#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button{
  border: solid 1px rgb(97, 93, 87);
  border-radius: 5px;
  animation: pisca 1s alternate infinite;
}

@keyframes pisca {
  from{
    color: rgb(51, 50, 50);
    background-color: rgb(196, 177, 177);
  }
  to{
    color: rgb(168, 161, 161);
    background-color: rgb(27, 25, 25);
  }
}